.container {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#game {
	display: grid;
	grid-template-columns: repeat(4, 160px);
	grid-template-rows: repeat(4, 160px);
	grid-gap: 10px;
}

.card {
	box-shadow: 0 3px 10px rgba(200, 200, 200, 0.9);
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	transform-style: preserve-3d;
}

.front,
.back {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	backface-visibility: hidden;
	transition: transform 0.5s;
}

.front {
	background-image: url(./pokeball.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: blue
}

.rotated {
	transform: rotatey(180deg)
}

button {
	font-size: 18px;
	background-color: #c62828;
	color: white;
	border-radius: 5px;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

/* // Small devices ( phones, up to 667px ) */
@media (max-width: 667px) {

	.container {
		max-width: 500px;
		padding: 10px;
	}

	#game {
		display: grid;
		grid-template-columns: repeat(4, 85px);
		grid-template-rows: repeat(4, 85px);
		grid-gap: 2px;
	}

	.front,
	.back {
		height: 85px;
		width: 85px;
	}

	h2 {
		font-size: 12px;
		margin: 0;
		padding: 0;
	}

	#sprite {
		height: 60px;
		width: 60px;
		margin: 0;
		padding: 0;
	}
}